.main-container {
  width: 100%;
  height: auto;
}
.header {
  z-index: 1;
  padding: 20px;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.main-container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-container nav .nav-ul {
  list-style: none;
}
.main-container nav .nav-ul li {
  padding: 0 20px;
  gap: 4px;
  font-size: 12px;
  color: var(--white);
  text-shadow: 0 0 1px hsla(0, 0%, 100%, 0.3);
}
.main-container nav .buttons button {
  font-size: 12px;
  text-transform: uppercase;
  padding: 7px 20px;
  color: var(--white);
}
.main-container nav .buttons button:last-child {
  border: 1px solid var(--white);
  border-radius: 18px;
}
.main-container .banner {
  position: relative;
  background: #0e1622;
}
.main-container .banner img {
  width: 100%;
  opacity: 0.7;
}
.main-container .banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 35px;
  font-family: "Gourmad-bold";
}
.properties-c {
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.menu-bar {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  height: 60px;
  position: absolute;
  top: -30px;
  border: 1px solid #f2f2f2;
  border-radius: 0.1875rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.03);
  background: var(--white);
}
.menu-bar > ul.flex-cnt{
height: 100%;
display: grid;

}

.menu-bar ul:first-child{
    grid-template-columns: 2fr 2fr;
}
.menu-bar ul:last-child{
    grid-template-columns: repeat(3, 100px);
}
.menu-bar ul:last-child li{
justify-content: space-between;
}
.menu-bar ul li{
    width: 100%;
    height: 100%;
    position: relative;
}
.menu-bar ul li span{
position: absolute;
top: -10px;
}
.menu-bar ul li > div{
    
justify-content: space-between;
}
.menu-bar ul li:hover{
    color: #4a77c3;;
}
.menu-bar ul li:hover::before{
    transform: scaleX(1);
}
.menu-bar ul li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transition: 0.5s;
    border-radius: 25px;
    transform: scaleX(0);
    background: #4a77c3;
}

.prop-cards {
  position: relative;
  top: 50px;
}
