.main-container {
  width: 100%;
  height: auto;
}
.header {
  z-index: 1;
  padding: 20px;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.main-container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-container nav .nav-ul {
  list-style: none;
}
.main-container nav .nav-ul li {
  padding: 0 20px;
  cursor: pointer;
  position: relative;
}
.buttons > :nth-child(1){
  position: relative;
}
.buttons > :nth-child(1),
.main-container nav .nav-ul li a{
  gap: 4px;
  font-size: 12px;
  color: var(--white);
  text-shadow: 0 0 1px hsla(0, 0%, 100%, 0.3);
  text-decoration: none;
overflow: hidden;
}
.buttons > :nth-child(1)::after,
.main-container nav .nav-ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.buttons > :nth-child(1):hover::after,
.buttons > :nth-child(1):focus::after,
.main-container nav .nav-ul li a:hover::after,
.main-container nav .nav-ul li a:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.main-container nav .nav-ul li a:hover::after {
  background: var(--white);
}
.main-container nav .buttons button {
  font-size: 12px;
  text-transform: uppercase;
  padding: 7px 20px;
  color: var(--white);
}
.main-container nav .buttons button:last-child {
  border: 1px solid var(--white);
  border-radius: 18px;
}
.main-container .banner {
  position: relative;
  background: #0e1622;
}
.main-container .banner img {
  width: 100%;
  opacity: 0.7;
}
.main-container .banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 35px;
  font-family: "Gourmad-bold";
}
.properties-c {
  width: 62%;
  margin: 0 auto;
  position: relative;
}
.menu-bar {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  height: 60px;
  position: absolute;
  top: -30px;
  border: 1px solid #f2f2f2;
  border-radius: 0.1875rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.03);
  background: var(--white);
}
.menu-bar > ul.flex-cnt {
  height: 100%;
  display: grid;
}

.menu-bar ul:first-child {
  grid-template-columns: 2fr 2fr;
}
.menu-bar ul:first-child li {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.menu-bar ul:last-child {
  grid-template-columns: repeat(3, 100px);
}
.menu-bar ul:last-child li {
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  padding: 0 5px;
  color: #4a77c3;
}
.menu-bar ul li {
  width: 100%;
  height: 100%;
  position: relative;
}
.menu-bar ul li span {
  font-size: 10px;
  color: #000;
  opacity: 0.4;
  text-transform: uppercase;
}
.menu-bar ul li > div {
  width: 100%;
  gap: 20px;
}
.menu-bar ul li:hover {
  color: #4a77c3;
}
.menu-bar ul li:hover::before {
  transform: scaleX(1);
}
.menu-bar ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transition: 0.5s;
  border-radius: 25px;
  transform: scaleX(0);
  background: #4a77c3;
}
.prop-cards {
  position: relative;
  top: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 350px);
}
.prop-cards .card {
  background: var(--white);
}
.prop-cards .card .card-header {
  padding: 12px 30px;
  border-bottom: 1px solid #f1f2f2;
  position: relative;
}
.card-header .property-badge-content{
  position: absolute;
  top: 0;
  right: 0;
}
.property-badge-content .property-badge{
  background-color: #12c76d;
  color: #fff;
  padding: 0.8em 0;
  width: 46px;
  text-align: center;
  z-index: 5;
  position: relative;
  min-height: 45px;
}
.property-badge-content .property-badge .property-badge-sub{
  color: #12c76d;
  z-index: -1;
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.property-badge-content .property-badge .property-badge-sub::after{
  border-left: 23px solid;
    border-right: 23px solid;
    border-bottom: 10px solid transparent!important;
    bottom: -10px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.property-badge-content .property-badge p{
  color: #fff;
    vertical-align: top;
    font-size: 9px;
    text-transform: uppercase;
    width: 44px;
    margin: 0 auto;
    position: relative;
    bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.prop-cards .card .card-header h5 {
  font-weight: 400;
}
.prop-cards .card .card-header .address {
  gap: 10px;
  font-size: 12px;
  opacity: 0.6;
}
.prop-cards .property-img img {
  width: 100%;
  height: 100%;
}
.prop-cards .card .property-details {
  padding: 10px 30px;
}
.prop-cards .card .property-details table {
  width: 100%;
}
.prop-cards .card .property-details table tr td:first-child {
    font-size: 13px;
    opacity: .6;
}
.prop-cards .card .property-details table tr td:last-child {
text-align: right;
font-size: 15px;
}
.prop-cards .card .view-opp {
  color: #fff;
  text-decoration: none;
  border-color: #01b484;
  background-color: #01b484;
  width: 100%;
  padding: 10px;
  opacity: 0.7;
  border-radius: 4px;
}
.map-cont{
  margin-top: 5.9375rem;
  background-color: #0e1622;
  height: 150px;
  min-height: 150px;
}
.map-cont :is(.map-lft,.map-right){
width: 100%;
}
.map-cont .map-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.map-cont .map-right h2{
color: var(--white);
}